<ul class="list-group">
<h1 >
    <%= @ip_str%>
</h1>
  <li class="list-group-item">City:
    <%= @city%> 
  </li>
  <li class="list-group-item">Region Code:
    <%= @region_code%> 
  </li>
  <li class="list-group-item">ISP:
    <%= @isp%>
  </li>
  <li class="list-group-item">Ports:
    <%= @ports%>
  </li>
  <li class="list-group-item">Hostnames:
    <%= @hostnames%> 
  </li>
  <li class="list-group-item">Country Code:
    <%= @country_code%> 
  </li>
   <li class="list-group-item">Country Name:
    <%= @country_code%> 
  </li>
  <li class="list-group-item">Domains:
    <%= @domains%> 
  </li>
  
</ul>
